In [13]:
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from joblib import dump, load

In [6]:
df = pd.read_csv("area_price.csv")

In [7]:
df.head()

   sqft_living      price
0         1340   313000.0
1         3650  2384000.0
2         1930   342000.0
3         2000   420000.0
4         1940   550000.0

In [8]:
X = df["sqft_living"]
y = df["price"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42
)

In [10]:
model = LinearRegression()

In [11]:
model.fit(X_train.values.reshape(-1,1), y_train)

LinearRegression()

In [12]:
model.score(X_test.values.reshape(-1,1), y_test)

0.029065410341410414

In [14]:
dump(model, "price_model.joblib")

['price_model.joblib']

In [15]:
model_2 = load("price_model.joblib")

In [17]:
model_2.score(X_test.values.reshape(-1,1), y_test)

0.029065410341410414