In [5]:
!pip install xgboost

Requirement already satisfied: xgboost in /home/nyq/ph/gbg/ml-theory/ml-env/lib/python3.10/site-packages (1.7.5)
Requirement already satisfied: scipy in /home/nyq/ph/gbg/ml-theory/ml-env/lib/python3.10/site-packages (from xgboost) (1.9.0)
Requirement already satisfied: numpy in /home/nyq/ph/gbg/ml-theory/ml-env/lib/python3.10/site-packages (from xgboost) (1.23.2)

In [5]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

import xgboost as xgb

In [2]:
df = pd.read_csv("../XGBoost/data/students_adaptability_level_online_education.csv")

In [3]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [4]:
df.dtypes

Gender                 object
Age                    object
Education Level        object
Institution Type       object
IT Student             object
Location               object
Load-shedding          object
Financial Condition    object
Internet Type          object
Network Type           object
Class Duration         object
Self Lms               object
Device                 object
Adaptivity Level       object
dtype: object

# SKLearn API

In [6]:
def encode_columns(df):
    columns = df.columns
    for c in columns:
        le = LabelEncoder()
        le.fit(df[c])
        df[c] = le.transform(df[c])
    return df

In [7]:
encoded_df = encode_columns(df)

In [8]:
encoded_df.dtypes

Gender                 int64
Age                    int64
Education Level        int64
Institution Type       int64
IT Student             int64
Location               int64
Load-shedding          int64
Financial Condition    int64
Internet Type          int64
Network Type           int64
Class Duration         int64
Self Lms               int64
Device                 int64
Adaptivity Level       int64
dtype: object

In [9]:
encoded_df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,0,3,2,1,0,1,1,0,1,2,2,0,2,2
1,1,3,2,1,0,1,0,0,0,2,1,1,1,2
2,1,2,0,0,0,1,1,0,1,2,1,0,1,2
3,1,1,1,1,0,1,1,0,0,2,1,0,1,2
4,1,2,1,1,0,1,1,1,0,1,0,0,1,1

In [10]:
X = encoded_df.drop(columns="Adaptivity Level")
y = encoded_df["Adaptivity Level"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
clf = xgb.XGBClassifier()

In [13]:
clf.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, objective='multi:softprob',
              predictor='auto', random_state=0, reg_alpha=0, ...)

In [15]:
predictions = clf.predict(X_test)

In [16]:
accuracy_score(y_test, predictions)

0.8922651933701657

# Learning API

## Encoded columns

In [17]:
df = pd.read_csv("../XGBoost/data/students_adaptability_level_online_education.csv")

In [18]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [19]:
df.dtypes

Gender                 object
Age                    object
Education Level        object
Institution Type       object
IT Student             object
Location               object
Load-shedding          object
Financial Condition    object
Internet Type          object
Network Type           object
Class Duration         object
Self Lms               object
Device                 object
Adaptivity Level       object
dtype: object

In [20]:
def encode_columns(df):
    columns = df.columns
    for c in columns:
        le = LabelEncoder()
        le.fit(df[c])
        df[c] = le.transform(df[c])
    return df

In [21]:
encoded_df = encode_columns(df)

In [27]:
encoded_df.dtypes

Gender                 int64
Age                    int64
Education Level        int64
Institution Type       int64
IT Student             int64
Location               int64
Load-shedding          int64
Financial Condition    int64
Internet Type          int64
Network Type           int64
Class Duration         int64
Self Lms               int64
Device                 int64
Adaptivity Level       int64
dtype: object

In [28]:
encoded_df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,0,3,2,1,0,1,1,0,1,2,2,0,2,2
1,1,3,2,1,0,1,0,0,0,2,1,1,1,2
2,1,2,0,0,0,1,1,0,1,2,1,0,1,2
3,1,1,1,1,0,1,1,0,0,2,1,0,1,2
4,1,2,1,1,0,1,1,1,0,1,0,0,1,1

In [30]:
encoded_df["Adaptivity Level"].unique()

array([2, 1, 0])

In [24]:
X = encoded_df.drop(columns="Adaptivity Level")
y = encoded_df["Adaptivity Level"]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [26]:
m_X_train = xgb.DMatrix(data=X_train, label=y_train)

In [32]:
clf = xgb.train(
    params={
        "objective": "multi:softmax",
        "num_class": 3,
        "max_depth": 10
    },
    dtrain=m_X_train
)

In [33]:
clf

In [38]:
m_X_test = xgb.DMatrix(data=X_test)

In [39]:
predictions = clf.predict(m_X_test)

In [40]:
predictions

array([2., 2., 2., 2., 2., 0., 1., 2., 2., 2., 0., 2., 1., 2., 1., 2., 1.,
       2., 2., 1., 1., 2., 1., 0., 1., 2., 2., 0., 1., 1., 1., 2., 2., 2.,
       2., 1., 2., 2., 2., 1., 1., 0., 2., 2., 2., 2., 2., 1., 2., 1., 2.,
       0., 2., 2., 2., 2., 2., 1., 1., 2., 2., 1., 1., 1., 2., 1., 1., 2.,
       1., 1., 2., 1., 1., 2., 1., 2., 2., 1., 2., 2., 2., 2., 2., 1., 1.,
       1., 2., 2., 1., 2., 1., 1., 2., 1., 0., 2., 2., 2., 1., 2., 2., 1.,
       2., 1., 1., 2., 1., 0., 1., 1., 2., 1., 2., 2., 2., 2., 1., 2., 1.,
       1., 0., 1., 2., 2., 1., 2., 2., 2., 1., 1., 2., 1., 0., 2., 2., 2.,
       1., 2., 1., 1., 2., 2., 1., 2., 2., 2., 2., 1., 1., 1., 0., 1., 2.,
       1., 1., 1., 2., 2., 0., 1., 2., 1., 1., 2., 2., 1., 1., 1., 1., 2.,
       0., 1., 2., 1., 1., 2., 1., 1., 2., 2., 2., 1., 1., 2., 2., 2., 1.,
       1., 2., 2., 2., 1., 1., 1., 2., 2., 1., 2., 2., 1., 2., 1., 2., 1.,
       2., 2., 1., 2., 1., 2., 2., 2., 2., 1., 2., 1., 1., 1., 2., 1., 2.,
       2., 2., 2., 2., 2., 0., 1., 2., 2., 2., 2., 1., 1., 1., 1., 2., 2.,
       0., 2., 2., 1., 2., 2., 1., 1., 2., 2., 2., 1., 1., 1., 1., 0., 0.,
       0., 1., 1., 2., 2., 0., 2., 2., 2., 1., 2., 2., 2., 2., 2., 1., 0.,
       2., 2., 1., 2., 1., 2., 2., 1., 2., 1., 2., 2., 2., 1., 2., 2., 2.,
       1., 2., 2., 1., 1., 2., 1., 2., 1., 1., 2., 0., 2., 2., 2., 1., 1.,
       2., 1., 1., 2., 2., 1., 1., 2., 2., 1., 1., 2., 0., 2., 2., 2., 1.,
       0., 1., 2., 2., 2., 2., 1., 2., 2., 1., 2., 2., 2., 2., 0., 0., 2.,
       1., 2., 2., 1., 2., 2., 1., 1., 1., 1., 2., 2., 2., 2., 1., 1., 1.,
       1., 1., 0., 1., 2.], dtype=float32)

In [41]:
accuracy_score(y_test, predictions)

0.8646408839779005

## Categorise columns

In [49]:
df = pd.read_csv("../XGBoost/data/students_adaptability_level_online_education.csv")

In [50]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [51]:
df.dtypes

Gender                 object
Age                    object
Education Level        object
Institution Type       object
IT Student             object
Location               object
Load-shedding          object
Financial Condition    object
Internet Type          object
Network Type           object
Class Duration         object
Self Lms               object
Device                 object
Adaptivity Level       object
dtype: object

In [52]:
def category_columns(df):
    columns = df.columns
    for c in columns:
        if c == "Adaptivity Level":
            le = LabelEncoder()
            le.fit(df[c])
            df[c] = le.transform(df[c])
            continue
        df[c] = df[c].astype("category")
    return df

In [53]:
category_df = category_columns(df)

In [54]:
category_df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,2
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,2
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,2
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,2
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,1

In [55]:
category_df.dtypes

Gender                 category
Age                    category
Education Level        category
Institution Type       category
IT Student             category
Location               category
Load-shedding          category
Financial Condition    category
Internet Type          category
Network Type           category
Class Duration         category
Self Lms               category
Device                 category
Adaptivity Level          int64
dtype: object

In [57]:
X = category_df.drop(columns="Adaptivity Level")
y = category_df["Adaptivity Level"]

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [60]:
m_X_train = xgb.DMatrix(data=X_train, label=y_train, enable_categorical=True)

In [61]:
clf = xgb.train(
    params={
        "objective": "multi:softmax",
        "num_class": 3,
        "max_depth": 10
    },
    dtrain=m_X_train
)

In [62]:
m_X_test = xgb.DMatrix(data=X_test, enable_categorical=True)

In [63]:
predictions = clf.predict(m_X_test)

In [65]:
accuracy_score(y_test, predictions)

0.8646408839779005